<header class="container text-center">
            
    <article class="row mt-1 mb-1">
        <div class="col border border-1 border-white bg-secondary bg-opacity-75 d-none d-md-block">Menu</div>
        <div class="col border border-1 border-white bg-warning bg-opacity-75 d-block d-md-none d-none d-sm-block">Menu</div>
        <div class="col border border-1 border-white bg-info bg-opacity-75 d-block d-sm-none">Menu</div>
    </article>
    
    <article class="row">
       <div class="col-sm-6 col-12 bg-primary bg-opacity-50 border border-1 border-white">Img1</div>
       <div class="col-sm-6 d-none d-sm-block bg-primary bg-opacity-50 border border-1 border-white">Img2</div>
       <div class="col-sm-12 col-12 bg-primary bg-opacity-50 border border-1 border-white">Img3</div>
    </article>

    <article class="row">
        <div class="col-md-3 d-none d-md-block col-6 border border-1 border-white bg-danger">art</div>
        <div class="col-md-3 col-sm-4 col-5 border border-1 border-white bg-danger">Art</div>
        <div class="col-md-3 col-sm-4 col-7 border border-1 border-white bg-danger">Art</div>
        <div class="col-md-3 col-sm-4 col-5 border border-1 border-white bg-danger">Art</div>
        <div class="col-md-3 col-sm-4 col-7 border border-1 border-white bg-danger">Art</div>
        <div class="col-md-3 col-sm-4 col-5 border border-1 border-white bg-danger">Art</div>
        <div class="col-md-3 col-sm-4 col-7 border border-1 border-white bg-danger">Art</div>
        <div class="col-md-3 col-sm-4 col-5 border border-1 border-white bg-danger">Art</div>
        <div class="d-block d-sm-none col-7 border border-1 border-white bg-danger">Art</div>
    </article>

    <article class="row text-center">
        <div class="col-12 bg-success bg-opacity-75 border border-1 border-white">Parrafo</div>
    </article>

</header>



    <!-- <div class="container align-content-center w-50 mt-5 text-center">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <iframe height="315" [src]="verVideo()" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>

                    </iframe>
                    <div class="card-body">
                        <h6 class="card-title">video de locos</h6>
                        <p class="card-title">sfdsfs</p>
                        <p>10000,00000,00000</p>
                        <p>2354654</p>
                    </div>          
                </div>
            </div>
        </div>
    </div>   -->
