<div class="container align-content-center text-center bg-secondary pt-3 pb-3 rounded-3">
    <div>
        <h1><i class="bi bi-youtube"></i></h1>
    </div>
    <form class="container w-50"  #buscarForm="ngForm">
        <div class="row">
            <div class="col-md-11 col-sm-10 col-8">
                <input class="form-control me-2 border border-1 border-black rounded-4" type="text" id="buscar" name="buscar" aria-label="Search" [(ngModel)]="buscar" required #search="ngModel" placeholder="Ingrese lo que desea buscar">
            </div>
            <div class="col-md-1 col-sm-1 col-1">
                <button class="btn btn-outline-dark" type="submit" [disabled]="!buscarForm.valid" (click)="buscarVideos()"><i class="bi bi-search"></i></button>
            </div>
        </div>
    </form>
    
    <div class="row row-cols-1 row-cols-md-3 g-5 m-1">
        <div class="col" *ngFor="let video of listaDeVideos">
            <div class="card text-center bg-dark text-white">
                <div class="card-img p-3">
                    <img src="{{video.url}}" class="card-img-top" alt="...">
                </div>
                
                <div class="card-body">
                    <h6 class="card-title">{{video.title}}</h6>
                    <p>{{video.number_of_views}}</p>
                    <p>{{video.published_time}}</p>
                  <button type="input" class="btn btn-warning rounded-2" class="btn btn-danger" (click)="verVideo(video)">Ver video</button>
                </div>
              </div>
          </div>
    </div>  

</div>

