<div class="container">
    <div class="row">
      <header class="text-center bg-primary ms-2 fw-bold text-white bg-gradient bg-opacity-75 rounded-3"><h3>Signos del Zodiaco</h3></header>
        <div class="col-md-4 col-6">

            <div class="card mb-3 border border-0">
                <div class="row g-0">
                  <div class="col-md-3">
                    <img src="../../assets/img/signo-de-aries.png" class="img-fluid rounded" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <a type="button" class="text-decoration-none" (click)="getHoroscopo('aries')"><button type="button" class="form-control form-control bg-primary bg-gradient text-white rounded-3 fw-bold">ARIES</button></a>  
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-md-4 col-6">

            <div class="card mb-3 border border-0">
                <div class="row g-0">
                  <div class="col-md-3">
                    <img src="../../assets/img/signo-de-leo.png" class="img-fluid rounded" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <a type="button" class="text-decoration-none" (click)="getHoroscopo('leao')"><button type="submit" class="form-control form-control bg-primary bg-gradient text-white rounded-3 fw-bold">LEO</button></a>
                    </div>
                  </div>
                </div>
              </div>

        </div>
        <div class="col-md-4 col-6">

            <div class="card mb-3 border border-0">
                <div class="row g-0">
                  <div class="col-md-3">
                    <img src="../../assets/img/signo-de-flecha-de-sagitario.png" class="img-fluid rounded" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <a type="button" class="text-decoration-none" (click)="getHoroscopo('sargitario')"><button type="submit" class="form-control form-control bg-primary bg-gradient text-white rounded-3 fw-bold">SAGITARIO</button></a>
                    </div>
                  </div>
                </div>
              </div>

        </div>
        <div class="col-md-4 col-6">

            <div class="card mb-3 border border-0">
                <div class="row g-0">
                  <div class="col-md-3">
                    <img src="../../assets/img/simbolo-de-signo-astrologico-de-tauro.png" class="img-fluid rounded" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <a type="button" class="text-decoration-none" (click)="getHoroscopo('touro')"><button type="submit" class="form-control form-control bg-primary bg-gradient text-white rounded-3 fw-bold">TAURO</button></a>
                    </div>
                  </div>
                </div>
              </div>

        </div>
        <div class="col-md-4 col-6">

            <div class="card mb-3 border border-0">
                <div class="row g-0">
                  <div class="col-md-3">
                    <img src="../../assets/img/signo-de-simbolo-astrologico-de-virgo.png" class="img-fluid rounded" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <a type="button" class="text-decoration-none" (click)="getHoroscopo('virgem')"><button type="submit" class="form-control form-control bg-primary bg-gradient text-white rounded-3 fw-bold">VIRGO</button></a>
                    </div>
                  </div>
                </div>
              </div>

        </div>
        <div class="col-md-4 col-6">

            <div class="card mb-3 border border-0">
                <div class="row g-0">
                  <div class="col-md-3">
                    <img src="../../assets/img/signo-de-capricornio.png" class="img-fluid rounded" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <a type="button" class="text-decoration-none" (click)="getHoroscopo('capricornio')"><button type="submit" class="form-control form-control bg-primary bg-gradient text-white rounded-3 fw-bold">CAPRICORNIO</button></a>
                    </div>
                  </div>
                </div>
              </div>

        </div>
        <div class="col-md-4 col-6">

            <div class="card mb-3 border border-0">
                <div class="row g-0">
                  <div class="col-md-3">
                    <img src="../../assets/img/simbolo-de-signo-del-zodiaco-geminis.png" class="img-fluid rounded" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <a type="button" class="text-decoration-none" (click)="getHoroscopo('gemeos')"><button type="submit" class="form-control form-control bg-primary bg-gradient text-white rounded-3 fw-bold">GEMINIS</button></a>
                    </div>
                  </div>
                </div>
              </div>

        </div>
        <div class="col-md-4 col-6">

            <div class="card mb-3 border border-0">
                <div class="row g-0">
                  <div class="col-md-3">
                    <img src="../../assets/img/signo-de-libra.png" class="img-fluid rounded" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <a type="button" class="text-decoration-none" (click)="getHoroscopo('libra')"><button type="submit" class="form-control form-control bg-primary bg-gradient text-white rounded-3 fw-bold">LIBRA</button></a>
                    </div>
                  </div>
                </div>
              </div>

        </div>
        <div class="col-md-4 col-6">

            <div class="card mb-3 border border-0">
                <div class="row g-0">
                  <div class="col-md-3">
                    <img src="../../assets/img/simbolo-de-signo-del-zodiaco-acuario.png" class="img-fluid rounded" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <a type="button" class="text-decoration-none" (click)="getHoroscopo('aquario')"><button type="submit" class="form-control form-control bg-primary bg-gradient text-white rounded-3 fw-bold">ACUARIO</button></a> 
                    </div>
                  </div>
                </div>
              </div>

        </div>
        <div class="col-md-4 col-6">

            <div class="card mb-3 border border-0">
                <div class="row g-0">
                  <div class="col-md-3">
                    <img src="../../assets/img/simbolo-de-signo-del-zodiaco-cancer.png" class="img-fluid rounded" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <a type="button" class="text-decoration-none" (click)="getHoroscopo('cancer')"><button type="submit" class="form-control form-control bg-primary bg-gradient text-white rounded-3 fw-bold">CANCER</button></a>
                        
                    </div>
                  </div>
                </div>
              </div>

        </div>
        <div class="col-md-4 col-6">

            <div class="card mb-3 border border-0">
                <div class="row g-0">
                  <div class="col-md-3">
                    <img src="../../assets/img/signo-astrologico-de-escorpion.png" class="img-fluid rounded" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <a type="button" class="text-decoration-none" (click)="getHoroscopo('escorpiao')"><button type="submit" class="form-control form-control bg-primary bg-gradient text-white rounded-3 fw-bold">ESCORPION</button></a>    
                    </div>
                  </div>
                </div>
              </div>

        </div>
        <div class="col-md-4 col-6">

            <div class="card mb-3 border border-0">
                <div class="row g-0">
                  <div class="col-md-3">
                    <img src="../../assets/img/signo-astrologico-de-piscis.png" class="img-fluid rounded" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <a type="button" class="text-decoration-none" (click)="getHoroscopo('peixes')"><button type="submit" class="form-control form-control bg-primary bg-gradient text-white rounded-3 fw-bold">PICIS</button></a>   
                    </div>
                  </div>
                </div>
              </div>

        </div>
    </div>
  </div>

  <div class="container" *ngIf="mostrar">
    <div class="row">

      <div class="card mb-3 col-12" id="Aries">
        <div class="card-header bg-primary text-center text-white bg-gradient"><h3 class="fw-bold">{{signoZodiacal.title}}</h3></div>
        <div class="row g-0">
          <div class="col-md-4 justify-content-center">
            <img src="{{rutaImagen}}" class="img-fluid" width="300px" height="400px">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Visión General:</h5>
              <p class="card-text">{{signoZodiacal.text}}</p>
              <p class="card-text"><small class="text-body-secondary">{{signoZodiacal.date}}</small></p>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="card mb-3 col-12" id="Leo">
        <div class="card-header bg-primary text-center text-white bg-gradient"><h3 class="fw-bold">Leo Mes</h3></div>
        <div class="row g-0">
          <div class="col-md-4 justify-content-center">
            <img src="../../assets/img/leo.png" class="img-fluid" width="300px" height="400px">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Visión General:</h5>
              <p class="card-text">Un amigo o compañero de trabajo está haciendo algo emocionante con su vida. Tú también quieres hacer esto. Entonces, ¿qué te detiene? No necesitas más recursos de los que ya tienes. Solo aumenta tu creatividad y agrega un poco de impulso. ¿Cuál es la mejor manera de avivar su creatividad y conducción? ¡Sal y mézclate con diferentes tipos de personas! Es un buen momento para concertar una cita, encontrarse con un viejo amigo o simplemente salir al mundo solo y comenzar algunas conversaciones atrevidas.</p>
              <p class="card-text"><small class="text-body-secondary">domingo 16 de abril del 2023</small></p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 col-12" id="Sagitario">
        <div class="card-header bg-primary text-center text-white bg-gradient"><h3 class="fw-bold">Sagitario Mes</h3></div>
        <div class="row g-0">
          <div class="col-md-4 justify-content-center">
            <img src="../../assets/img/sagitario.png" class="img-fluid" width="300px" height="400px">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Visión General:</h5>
              <p class="card-text">No se preocupe, la lucha de poder que tiene hoy con una figura de autoridad no creará una tensión duradera en su vida. Estas cosas suceden de vez en cuando y son simplemente parte de tratar con personas poderosas. En cierto modo, son herramientas educativas muy efectivas: aprendes más cuando desafías a alguien que cuando simplemente aceptas lo que dice porque tienes miedo de estar en desacuerdo. Si todos no están de acuerdo, no es el fin del mundo, es el comienzo de una gran discusión.</p>
              <p class="card-text"><small class="text-body-secondary">domingo 16 de abril del 2023</small></p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 col-12" id="Tauro">
        <div class="card-header bg-primary text-center text-white bg-gradient"><h3 class="fw-bold">Tauro Mes</h3></div>
        <div class="row g-0">
          <div class="col-md-4 justify-content-center">
            <img src="../../assets/img/tauro.png" class="img-fluid" width="300px" height="400px">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Visión General:</h5>
              <p class="card-text">Le gusta lo concreto y disfruta de los bienes materiales, el lujo y lo relacionado con lo terrenal; es racional y algo materialista. Suele ser tranquilo y paciente, sabe esperar el momento oportuno para sus objetivos. Como buen signo de tierra está muy apegado a la naturaleza y valora el hogar y la familia. A veces es muy conformista y puede ser brusco, algo que sorprende a los que le rodean.</p>
              <p class="card-text"><small class="text-body-secondary">domingo 16 de abril del 2023</small></p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 col-12" id="Virgo">
        <div class="card-header bg-primary text-center text-white bg-gradient"><h3 class="fw-bold">Virgo Mes</h3></div>
        <div class="row g-0">
          <div class="col-md-4 justify-content-center">
            <img src="../../assets/img/virgo.png" class="img-fluid" width="300px" height="400px">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Visión General:</h5>
              <p class="card-text">Reflexivo, práctico y ordenado, le apasiona lo establecido y piensa bien cada paso que da. Signo de tierra, y muy trabajador, es capaz de llevar a cabo grandes empresas por su mente detallista y esquemática, lo que a veces le lleva a cierta obsesión. Siempre tiene una palabra amable para cualquier persona y en el amor, su corazón y su mente entran en conflicto demasiado a menudo.</p>
              <p class="card-text"><small class="text-body-secondary">domingo 16 de abril del 2023</small></p>
            </div>
          </div>
        </div>
      </div>


      <div class="card mb-3 col-12" id="Capricornio">
        <div class="card-header bg-primary text-center text-white bg-gradient"><h3 class="fw-bold">Capricornio Mes</h3></div>
        <div class="row g-0">
          <div class="col-md-4 justify-content-center">
            <img src="../../assets/img/capricornio.png" class="img-fluid" width="300px" height="400px">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Visión General:</h5>
              <p class="card-text">Es uno de los más disciplinados del zodiaco y lo aplica a todo lo que rodea su vida. Es un signo de tierra, dominado por Saturno que le hace ser constructor y reflexivo. Normalmente es muy realista y alcanza el éxito por su tesón. Demasiado introspectivo, le cuesta expresar sus emociones y sus sentimientos y nadie penetra en su intimidad. Tiene un alto sentido del deber.</p>
              <p class="card-text"><small class="text-body-secondary">domingo 16 de abril del 2023</small></p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 col-12" id="Geminis">
        <div class="card-header bg-primary text-center text-white bg-gradient"><h3 class="fw-bold">Geminis Mes</h3></div>
        <div class="row g-0">
          <div class="col-md-4 justify-content-center">
            <img src="../../assets/img/geminis.png" class="img-fluid" width="300px" height="400px">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Visión General:</h5>
              <p class="card-text">Signo de aire, el más dual del zodiaco, con una verdadera doble personalidad llena de contrastes a menudo misteriosos. Debido a esta dualidad padece muchas veces indecisión e inseguridad. Le cuesta concentrarse en una sola tarea y resulta muy contradictorio en sus reacciones, pero es capaz de atender muchas cuestiones a la vez y tiene un don excepcional para comunicarse así como para adaptarse a las circunstancias.</p>
              <p class="card-text"><small class="text-body-secondary">domingo 16 de abril del 2023</small></p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 col-12" id="Libra">
        <div class="card-header bg-primary text-center text-white bg-gradient"><h3 class="fw-bold">Libra Mes</h3></div>
        <div class="row g-0">
          <div class="col-md-4 justify-content-center">
            <img src="../../assets/img/libra.png" class="img-fluid" width="300px" height="400px">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Visión General:</h5>
              <p class="card-text">Sereno y tranquilo, mantiene siempre el equilibrio entre lo posible y sus sueños, aunque lucha por ellos. Signo de aire, dominado por Venus, su carácter es fuerte y no se precipita en comprometerse con nada ni con nadie si no lo ve claro, lo que le lleva a evitar situaciones desagradables sean las que sean. Suele ser simpático y sociable y con sensibilidad para el arte.</p>
              <p class="card-text"><small class="text-body-secondary">domingo 16 de abril del 2023</small></p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 col-12" id="Acuario">
        <div class="card-header bg-primary text-center text-white bg-gradient"><h3 class="fw-bold">Acuario Mes</h3></div>
        <div class="row g-0">
          <div class="col-md-4 justify-content-center">
            <img src="../../assets/img/acuario.png" class="img-fluid" width="300px" height="400px">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Visión General:</h5>
              <p class="card-text">Su espíritu es poderoso, sabe ver hacia el futuro con libertad intelectual y de espíritu y posee una gran imaginación. Signo de aire, dominado por Saturno y Urano, a veces es algo melancólico y cae fascinado por lo misterioso, lo que le lleva a ser poco práctico. Es altruista y le gusta probar cualquier clase de innovación. Afectivamente es cautivador, pero no soporta la monotonía.</p>
              <p class="card-text"><small class="text-body-secondary">domingo 16 de abril del 2023</small></p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 col-12" id="Cancer">
        <div class="card-header bg-primary text-center text-white bg-gradient"><h3 class="fw-bold">Cancer Mes</h3></div>
        <div class="row g-0">
          <div class="col-md-4 justify-content-center">
            <img src="../../assets/img/cancer.png" class="img-fluid" width="300px" height="400px">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Visión General:</h5>
              <p class="card-text">Sereno y tranquilo, mantiene siempre el equilibrio entre lo posible y sus sueños, aunque lucha por ellos. Signo de aire, dominado por Venus, su carácter es fuerte y no se precipita en comprometerse con nada ni con nadie si no lo ve claro, lo que le lleva a evitar situaciones desagradables sean las que sean. Suele ser simpático y sociable y con sensibilidad para el arte.</p>
              <p class="card-text"><small class="text-body-secondary">domingo 16 de abril del 2023</small></p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 col-12" id="Escorpion">
        <div class="card-header bg-primary text-center text-white bg-gradient"><h3 class="fw-bold">Escorpion Mes</h3></div>
        <div class="row g-0">
          <div class="col-md-4 justify-content-center">
            <img src="../../assets/img/escorpio.png" class="img-fluid" width="300px" height="400px">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Visión General:</h5>
              <p class="card-text">Misterioso y contradictorio, signo de agua bajo la dominante de Marte y Plutón, posee un carácter apasionado y sensual que resulta muy atractivo. En general es muy inteligente, lo que le hace ser versátil para conseguir sus fines que a veces son poco claros. Su voluntad es férrea, muy vitalista y con fuerte sexualidad, nunca resulta indiferente ni en el amor ni en el trabajo.</p>
              <p class="card-text"><small class="text-body-secondary">domingo 16 de abril del 2023</small></p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 col-12" id="Piscis">
        <div class="card-header bg-primary text-center text-white bg-gradient"><h3 class="fw-bold">Piscis Mes</h3></div>
        <div class="row g-0">
          <div class="col-md-4 justify-content-center">
            <img src="../../assets/img/piscis.png" class="img-fluid" width="300px" height="400px">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Visión General:</h5>
              <p class="card-text">Es un excelente amigo dispuesto a ayudar y hacer favores. Es sensible, amable e intuitivo y suele acertar en sus juicios. Son afectuosos y casi siempre sinceros y pacíficos. Signo de agua, dominado por Júpiter y Neptuno, lucha demasiado consigo mismo y tiene tendencia a la soledad. Vive un mundo muy espiritual y en el amor suele ser muy romántico y sentimental.</p>
              <p class="card-text"><small class="text-body-secondary">domingo 16 de abril del 2023</small></p>
            </div>
          </div>
        </div>
      </div> -->



    </div>
  </div>

